Repository gaizka-allende/Todos-in-HTMX: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier . --write, tsc-files --noEmit

.lintstagedrc.json:

{
  "*.{json,js,ts,jsx,tsx,html}": ["prettier . --write"],
  "**/*.ts": "tsc-files --noEmit"
}

add .env to .gitignore
  .env.example
  .gitignore
Due: none

fix broken test
  tests/session.spec.ts
Due: prettier . --write, tsc-files --noEmit

use secret from .env
  .env.example
  src/index.ts
  src/routes/login/post.ts
  src/routes/register/post.ts
  src/types.d.ts
  src/utils/utils.ts
  tests/session.spec.ts
  tests/suggestions.spec.ts
  tests/todos.spec.ts
Due: prettier . --write, tsc-files --noEmit

fix response of todos routes - missing order
  src/routes/todo/delete.ts
  src/routes/todo/patch.ts
  src/routes/todo/post.ts
  src/routes/todo/put.ts
  src/routes/todos/get.ts
Due: prettier . --write, tsc-files --noEmit

fix press enter when editing todo title
  src/fragments/todo.ts
Due: prettier . --write, tsc-files --noEmit

increase session to 10 minutes and add session renew after every valid request
  src/index.ts
  src/routes/login/post.ts
  src/routes/register/post.ts
  tests/session.spec.ts
  tests/todos.spec.ts
Due: prettier . --write, tsc-files --noEmit

remove axios dependency
  package-lock.json
  package.json
Due: prettier . --write

remove user-agents dependency
  package-lock.json
  package.json
Due: prettier . --write

add more correct comment
  src/index.ts
Due: prettier . --write, tsc-files --noEmit

add sqlite3 support
  db.sql
  package-lock.json
  package.json
  src/fragments/todo.ts
  src/index.ts
  src/routes/todo/post.ts
  src/routes/todos/get.ts
  src/types.d.ts
  src/utils/database.ts
  tests/todos.spec.ts
Due: prettier . --write, tsc-files --noEmit

hash and salt the passwords
  db.sql
  package-lock.json
  package.json
  src/index.ts
  src/routes/login/post.ts
  src/routes/register/post.ts
  src/routes/todo/delete.ts
  src/routes/todos/get.ts
Due: prettier . --write, tsc-files --noEmit

add a theme selector and also add tailwind as a postcss build step
  package-lock.json
  package.json
  src/fragments/document.ts
  src/fragments/screen.ts
  src/index.css
  src/index.ts
  src/routes/login/get.ts
  src/routes/register/get.ts
  src/routes/todos/get.ts
  tailwind.config.js
Due: prettier . --write, tsc-files --noEmit

remove comment
  src/fragments/document.ts
Due: prettier . --write, tsc-files --noEmit

add created/modified date to todos
  db.sql
  src/fragments/screen.ts
  src/fragments/todo.ts
  src/routes/todo/patch.ts
  src/routes/todo/post.ts
  src/routes/todo/put.ts
  src/types.d.ts
  tests/todos.spec.ts
Due: prettier . --write, tsc-files --noEmit

update .gitignore
  .gitignore
Due: none

add ENV env variable
  .env.example
Due: none

added translation support
  package-lock.json
  package.json
  src/fragments/document.ts
  src/fragments/todo.ts
  src/i18n/index.ts
  src/index.ts
  src/routes/index.ts
  src/routes/language/get.ts
  src/routes/login/get.ts
  src/routes/login/post.ts
  src/routes/register/get.ts
  src/routes/register/post.ts
  src/routes/suggestions/get.ts
  src/routes/todo/delete.ts
  src/routes/todo/patch.ts
  src/routes/todo/post.ts
  src/routes/todo/put.ts
  src/routes/todos/get.ts
  src/screens/login.ts
  src/screens/register.ts
  src/screens/todos.ts
  src/utils/database.ts
  tests/todos.spec.ts
Due: prettier . --write, tsc-files --noEmit

create translation files
  src/i18n/index.ts
  src/i18n/locales/en.json
  src/i18n/locales/es.json
Due: prettier . --write, tsc-files --noEmit

fix ui for language and theme selectors
  src/fragments/document.ts
Due: prettier . --write, tsc-files --noEmit

fix tests
  tests/login.spec.ts
  tests/session.spec.ts
  tests/suggestions.spec.ts
  tests/todos.spec.ts
Due: prettier . --write, tsc-files --noEmit

fix todo edit test
  tests/todos.spec.ts
Due: prettier . --write, tsc-files --noEmit

fix swap target and add ease transition
  src/fragments/todo.ts
  src/screens/todos.ts
Due: prettier . --write, tsc-files --noEmit
